/*comando para importar a fote Oxygen do google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');



body{
    background-color: #3e3e3e;
}
header{
    background-color: #3e3e3e;
    color: white;
    float: auto;
    padding: 1rem 1rem 0 1rem;
}
main{
    color: white;
}
footer{
    color: white;
    float: center;
}
h1{
    border-bottom: #fed35c solid 5px;
    font-family: 'Oswald', sans-serif;
    padding-left: 1rem;
}
h3{
    font-family: 'Oswald', sans-serif;
    padding-left: 1rem;
}
block{
    border: white solid 10px;
    background-color: white;
}
.home-text{
    padding: 10px 0px 30px 0px;
    text-align: center;
}
p{
    font-family: 'Oxygen', sans-serif;
    /*esta é font family é a instrução das fonts do google para que o arquivo CSS reconheça*/
    padding: 1rem;
}
figure{
    text-align: center;
}


.social-icon{
    height: 30px;
    width: 30px;
}
.address{
    border-top: solid 1px #fed35c;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
   
}
.logo_other{
    border: solid 5px #fed35c;
    border-radius: 30px;
    height: 180px;
    width: 150px;
}
.logo_main{
    border: solid 10px #fed35c;
    border-radius: 50px;
}

.form-group{
    font-family: 'Oxygen' , sans-serif;
}

/* controles de cor dos links na navbar e tamnaho das fontes */
.nav,.nav-item,.nav-link{
    font-family: 'Oswald',sans-serif;
    font-size: 1rem;
    color: #fed35c;
    border: none;
    display: inline-block;
}
.accordion, .card, .card-header{
    font-family: 'Oswald',sans-serif;
    font-size: 1rem;
    color: #fed35c;
    border: none;
    background-color: #3e3e3e;
}
.nav-underline .nav-link.active, .nav-underline .show >.nav-link{
    color: white;
}
.nav-link:focus, .nav-link:hover {
    color: #f1e1b5;
}

.btn-link{
    color: white;
}